/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * These styles set background on body/html instead of within mockup
 * Global scrollbar hiding affects the entire page
 */

/*
@media only screen and (min-width: 768px) {

.App {

}

body, html {
 background: #050505;

}


::-webkit-scrollbar {
  display: none;
}
*/

@media only screen and (min-width: 768px) {

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.col-1 {
  display: flex;
  flex: 1;
  align-items: center;

}
.col-2 {
  display: flex;
  flex: 2;
  align-items: center;
}
.col-3 {
  display: flex;
  flex: 3;
  align-items: center;
}

h1 {

}
h2 {
  font-family: Inter;
  font-weight: 300;
  /* font-size: 36px; */
}
h6 {
  font-family: Inter;
  font-weight: 300;
  /* font-size: 18px; */
}
p {
  font-family: Inter;
  font-weight: 300;
}

}