@media only screen and (max-width: 768px) {
#image {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  background: #050505;
  


  }
  .image-c {
    position: relative;
    object-fit:cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .image {
    
  }



/* MEDIA LINE */
 

  }