@media only screen and (min-width: 768px) {

/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * Background colors set for full viewport context
 */

/*
#detail {
  position: relative;
  box-sizing: border-box;

  background: #050505;
  }
*/
  #detail .text-c {
    /* opacity: 0; */
 max-width: 80%;
  }
  #detail .title {
    color: #fff;
    margin: 0;
    font-size: 3.8vw;
    max-width: 100%;
    white-space: wrap;
 
  }


  #detail .subtitle {
    color: #959595;
    font-size: 1.6vw;
    margin: 0;
  }

  #detail .text {
    color: #fff;
    margin: 0;
    font-size: 1.6vw;
    max-width: 100%;
    white-space: wrap;
  }
  }