#description {
  position: relative;
  box-sizing: border-box;
  /* width: 100vw;
  height: 100vh; */

  background: #050505;
  z-index: 1 ;
  }
  #description .section-wrap {
    z-index: 1;
  }
  
  
  #description .text-c {
    /* opacity: 0; */
 
  }
  #description .title {
    color: #fff;
    margin: 0;
    /* font-size: 3.8vw; */
    font-size: 6vw;
    max-width: 100%;
    margin-bottom: 4vh;
    white-space: wrap;
 
  }


  #description .subtitle {
    color: #959595;
    font-size: 1.6vw;
    margin: 0;
    margin-bottom: 2vh;
    

  }

  #description .text {
    color: #fff;
    margin: 0;
    font-size: 1.6vw;
    line-height: 1.6;
    max-width: 32vw;

    white-space: wrap;
  }

  
  @media only screen and (max-width: 720px) {
    #description .title {
      font-size: 32px;
      margin-bottom: 2vh;
     }
   #description .subtitle {
    font-size: 18px;
   }
   #description .text {
    
    font-size: 18px;
    max-width: 100%;
    
  }
  #description .col-1 {
    
    display: none;
    
  }
  }