@media only screen and (min-width: 768px) {

/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * Z-index stacking may conflict with mockup layering
 */

/*
#description {
  position: relative;
  box-sizing: border-box;

  background: #050505;
  z-index: 1 ;
  }
*/
  #description .section-wrap {
    z-index: 1;
  }
  
  
  #description .text-c {
    /* opacity: 0; */
 
  }
  #description .title {
    color: #fff;
    margin: 0;
    /* font-size: 3.8vw; */
    font-size: 6vw;
    max-width: 100%;
    margin-bottom: 4vh;
    white-space: wrap;
 
  }


  #description .subtitle {
    color: #959595;
    font-size: 1.6vw;
    margin: 0;
    margin-bottom: 2vh;
    

  }

  #description .text {
    color: #fff;
    margin: 0;
    font-size: 1.6vw;
    line-height: 1.6;
    max-width: 32vw;

    white-space: wrap;
  }

  }