@media only screen and (min-width: 768px) {

/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * 100vw/100vh won't fit in 375px x 812px mockup
 * 3D transforms may not render correctly within scaled mockup
 */

/*
#view {
  position: relative;
  box-sizing: border-box;
  height:100vh;
  width:100vw;


  transform-style: preserve-3d;
  z-index: -1;
  }

  #view .section-wrap {
    position: absolute;
    width: 100%;
    pointer-events: none;
    transform: translateZ(-1800px) scale(3.25);
z-index: 0;
  }
*/

#view .text-c {

  padding-top: 42vh;
  /* transform: scale(7); */
 /* white-space: wrap; */
}


#view .subtitle {
  color: #959595;
  font-size: 1.6vw;
  margin: 0;
}
#view .title {
  color: #fff;
  margin: 0;
  font-size: 3.8vw;
  max-width: 100%;
  white-space: wrap;
}


}