#view {
  position: relative;
  box-sizing: border-box;
  height:100vh;
  transform: translateZ(-1800px) scale(7);
  }

#view .text-c {
  padding-top: 42vh;
}

#view .subtitle {
  color: #959595;
  font-size: 1.6vw;
  margin: 0;
}
#view .title {
  color: #fff;
  margin: 0;
  font-size: 3.8vw;
  max-width: 100%;
  white-space: wrap;
}

@media only screen and (max-width: 720px) {
  #view .text-c {
    padding-top: 42vh;
  }
 #view .title {
    font-size: 30px;
   }
 #view .subtitle {
  font-size: 16px;
 }
 #view .col-1 {
    
  display: none;
  
}

}