@media only screen and (min-width: 768px) {

/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * position: fixed with 100vw/100vh anchors to viewport, not container
 * Won't fit within 375px mockup width
 */

/*
#project {
  position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 800px;
    top:0;
    left: 0;

  }
*/
  .scroll-container {
    position: absolute;
    box-sizing: border-box;
    top:0;
    left: 0;
  }
  /* .section-spacer-c {
    position: relative;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    top: 0;
  } */
/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * Section blocks sized to full viewport (100vw/100vh) will overflow 375px mockup
 */

/*
  .text-b {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #101010;

  }
  .view-b {
    position: relative;
    height: 100vh;
    width: 100vw;

  }
  .image-b {
    position: relative;
    height: 200vh;
    width: 100vw;
    background: #101010;
  }
*/

  /* #project .background {
    height: 100vh;
    width: 100vw;
    background: #101010;
    z-index: -1;
  } */

.section-wrap {
  box-sizing: border-box;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 12%;
  padding-bottom: 12%;
  will-change: transform;
  /* transition: all .01s ease-in-out; */
}
.content-box {
  box-sizing: border-box;
  padding-left: 12vw;
  padding-right: 12vw;
  width: 100%;
  height: 100%;

}

.text-c {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  white-space: wrap;
}



}