/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * These styles were for the old desktop redirect page and will break the new mockup:
 * - overflow: hidden on body/html prevents proper scrolling
 * - 100vh/100vw sizing competes with mockup container
 * - Absolute positioned canvas breaks out of iPhone frame
 * - QR code positioning uses viewport-relative offsets
 */

/*
@media only screen and (min-width: 768px) {

  body, html {
    background: #050505;
    overflow: hidden;


   }

  .App {
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.App .canvas{
  height: 100vh;
width: 100vw;

position: absolute;
}
.App .text-c{
max-width: 60vw;
pointer-events: none;
}
.App .row{
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 10vw;
  }
  .qr-code {
    position: absolute;
    right: 140px;
    bottom: 120px;
    opacity: 0;
  }


::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: Inter;
  font-weight: 300;
  color: white;
  font-size: 4.5vw;
}
h2 {

}
h4 {
  font-family: Inter;
  font-weight: 300;
  color: #959595;
  font-size: 1.6vw;
  margin: 0;
}
h6 {
  font-family: Inter;
  font-weight: 300;
}
p {
  font-family: Inter;
  font-weight: 300;
}

}
*/