/* Media query wrapper removed - styles now apply on all viewports */

#intro {
    position: fixed;
  width: var(--app-width);
  height: calc(100 * var(--app-svh));
/* background: #050505; */
background: #161717;
  z-index: 2;
  display: flex;

  }
#intro-wrap {
  /* padding-top: calc(12 * var(--app-vh)); */
  /* padding-bottom: 42px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: flex-end;
  
  flex: 1;

}

  #cover {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
  }
  .cover-title {
    width: 100%;
   box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(2 * var(--app-vw));
    /* margin-bottom: calc(2 * var(--app-vh)); */
    padding-bottom: 42px;
  }
  .cover-word {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: .08em;
  }


  #intro .row {
    height: 100%;
  }
  #intro .line {
    width: 100%;
    height: 1px;
    background: #252525;
    margin: 0;
  }
  #intro .letter {
    /* font-size: 74px; */
    font-family: 'El Messiri', sans-serif;
    color: #fff;

    font-size: calc(18.5 * var(--app-vw));
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
   margin: 0;
   opacity: 0;
    /* padding-top: 12%; */
  }

  


  #intro .svg-c {
    position: absolute;
    /* margin-top: calc(2 * var(--app-vh)); */
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(2);
    opacity: 0;
    will-change: opacity;
  }
  .svg-path {
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .01s;
  }
  .svg-arrow {
    position: absolute;
    align-self: center;
    padding-left: 4%;
    z-index: 3;
    


  }
 
  .svg-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
  }

  .checkmark-svg {
    position: absolute;
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    
    
    
  }

  #intro .section-wrap {
    /* padding-bottom: 0px; */
    /* padding: 0 10vw; */
    padding-bottom: calc(60px - 8%);
    /* padding-bottom: calc(80px - 8%); */
    
  }
  #intro .text-c {
    gap: 0px;
   
   
  }
 
 #intro .subtitle {
  font-size: 18px;
  color: #959595;
  font-weight: 400;
  margin: 0;
 }
 #intro .title {
  font-size: 18px;
  margin-bottom: calc(2 * var(--app-vh));
  color: white;
 }
 #intro .text {
  
  font-size: 18px;
  max-width: 100%;
  color: #fff;
  margin-bottom: 16%;
  
}



.loading-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  /* padding-top: 42px; */
  padding-top: calc(60px - 12%);
  /* padding-bottom: calc(60px - 8%); */
  /* padding-bottom: 80px; */
  transform: scale(.8);
}
.loading-text {
  align-self: center;
  margin: 0;
  color: #fff;
}
.loading-svg-c {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transform: scale(.8);
}
.svg-c-background {
align-self: center;
  background: #050505;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* top: 0; */
  right: 0;
  position: absolute;
z-index: 0;
}


#intro .col-3 {
  
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  flex: 1;
  
}
#intro .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: calc(36 * var(--app-vh));
  /* padding-top: calc(6 * var(--app-vh)); */
 align-items: center;
 flex: 2;
 
}


.letters-c {
  position: relative;
  display: flex;
  flex-direction: row;
/* margin-bottom: -24px; */
}
