#navigation {
    position: fixed;
    width: 100%;
    /* height: 24vh; */
    top:0;
    left:0;
    
    z-index: 3;
  }
.nav-bar {
  position: relative;
  width: 100%;
  height: 24vh;
  z-index: 5;
}
  .logo {
    font-family: 'El Messiri', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin: 0;
    /* height: 1.2vh; */
  }
  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.6);
    
  }

  .nav-back {
    position: absolute;
    height: 100vh;
    width: 100vh;
    /* top:-25vh;
    right: -25vh; */
    top: 0;
    left: 0;
    background: #404040;
    pointer-events: none;
    /* border-radius: 100%; */
  }
  #navigation .content-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    
  }
  .nav-btn {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: fixed;

    background: transparent;
      /* mix-blend-mode: difference; */
      z-index: 12;
  }


  svg  {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }


  /* #navigation svg:hover :nth-child(1) {
    transform: translateY(3px);
  }
  #navigation svg:hover :nth-child(2) {
    transform: translateY(-3px);
  }
  #navigation svg:hover  {
    transform: scale(1.6);
  }
  #navigation svg  {
    transition: .1s transform ease-in-out;
  }
  #navigation svg :nth-child(2) {
    transition: .1s transform ease-in-out;
  }
  #navigation svg :nth-child(1) {
    transition: .1s transform ease-in-out;
  } */
  @media only screen and (max-width: 720px) {

   #navigation {
    height: 12vh;
   }
   #navigation .content-box {
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    gap: 24px;
  }
  .logo {
    font-family: 'El Messiri', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin: 0;
    /* height: 1.2vh; */
  }
  }