#canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
  z-index: 0;
  /* background: linear-gradient(155deg, #ffffff 20%, #a5a3a3); */
  background: linear-gradient(160deg, #151515 20%, #404040);
  /* background: #202025; */
  }