#image {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  background: #050505;


  }
  #image .section-wrap {
    padding-top: 6%;
  }
  .image-c {
    position: relative;
    object-fit: cover;
 
  }
  .image {
    width: 100%;
    height: 100%;
  }



  @media only screen and (max-width: 720px) {

  }