
@media only screen and (min-width: 768px) {

/* COMMENTED OUT - Conflicts with MobileShell iPhone mockup wrapper
 * Background and width may show outside mockup bounds
 */

/*
#image {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  background: #050505;


  }
*/
  #image .section-wrap {
    /* padding-top: 6%; */
  }
  .image-c {
    position: relative;
    object-fit: cover;
 
  }
  .image {
    width: 100%;
    height: 100%;
  }


  }