/* Media query wrapper removed - styles now apply on all viewports */

#testcanvas {
    position: fixed;
  width: var(--app-width);
  height: var(--app-height);
background: #050505;
  z-index: 0;
  /* padding-bottom: 40px; */
  }
