@media only screen and (max-width: 768px) {
#video {
  position: relative;
  height: 80vh;
  width: 100%;
  /* background: #050505; */
  /* max-height: 100vh; */
transform-style: preserve-3d;
  }
  .video-c {
    position: relative;
    object-fit: cover;
    height: 100vh;
    /* width: 76%; */
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    /* transform: translateZ(-1800px) scale(3.25); */
    transform: translateZ(-800px) scale(2);
    opacity: 0;
  }
  .video-overlay-c {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
  }
  .video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #050505;
    opacity: 0;
  }

  .parallax-back {
    position: relative;
    width: 100%;
    height: 100%;
    background: #050505;
    transform: translateZ(-1800px) scale(3.25);
  }
  #video .subtitle {
    align-self: center;
    font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin: 0;
  z-index: 1;
  }

  .video {
    height: 100%;
  }



/* MEDIA LINE */
 

  }